{% extends "../partials/base.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block css_template %}
  <link rel="stylesheet" href="{% static 'css/templates/user/login.css' %}">
{% endblock %}

{% block content %}
  <header class="main-header-container">
      <div class="main-header container">
          <h1>
              <a class="main-logo" href="/">
                  <i class="fas fa-code"></i>
                  <span class="main-logo-text" >Login Page</span>
              </a>
          </h1>
      </div>
  </header>

  <main class="container d-flex justify-content-center">
    <form class="box-login">
      {% csrf_token %}
      <i class="fas fa-solid fa-code"></i>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-check text-start my-3">
        <input class="form-check-input" type="checkbox" value="remember-me" id="checkDefault">
        <label class="form-check-label" for="checkDefault">Remember me</label>
      </div>
      
      <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-body-secondary">© 2017–2025</p>
    </form>
  </main>
  <br>
  <div class="card shadow-sm">
    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="40%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> <div class="card-body"> <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> <div class="d-flex justify-content-between align-items-center"> <div class="btn-group"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button> <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> </div> <small class="text-body-secondary">9 mins</small> </div> </div> </div>
{% endblock %}
